<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let outfit of outfits" col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2>
        <ion-card (click)="loadOutfit(outfit)">
          <ion-row>
            <ion-col col-6 offset-3>
              <app-business-casual-male-svg [outfit]="outfit"></app-business-casual-male-svg>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <ion-card-title text-center>
              <h4>{{ outfit.name }}</h4>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="!outfits.length" text-center>Your wardrobe is currently empty. Go to the homepage and add some outfits!</p>

</ion-content>
